.boardCard{
    display: flex;
    border: solid;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    flex-direction: column;
    align-content: center;
    margin: 20px;
    border-color: #3d52a0;
    border-width: thick;
    transition: border-color 0.5s ease-out 100ms;
}

.boardCard:hover {
    border-color: #c5fffd;
    box-shadow: 10px 5px 5px #88d9e6;
}

.boardCardImg {
    width: 300px;
    height: 300px;
    overflow: scroll;
    object-fit: cover;

}

.deleteBoardButton {
    color: red;
    width: 100px;
    height: 40px;
}

.viewButton {
    background-color: #f9f9f9;
    width: 100px;
    height: 60px;
    border-radius: 8px;
    align-content: center;
}

.confirmDelete {
    color: red;
}
